.productdisplay{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    max-width: min(1200px,80%);
    margin: 50px auto;
}

.productdisplay-main-img{
    width: 100%;
    border-radius: 6px;
}

.productdisplay-right{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productdisplay-right h1{
    color: honeydew;
    font-size: 40px;
    font-weight: 700;
}

.productdisplay-right-price{
    margin: 20px 0;
    font-size: 24px;
    font-weight: 700;
    color: red;
}

.productdisplay-right button{
    margin-top: 20px;
    padding: 10px 20px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: honeydew;
    background: #282c34;
    margin-bottom: 40px;
    border: honeydew 1px solid;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    transition: 0.6s;
}

.productdisplay-right button:hover {
    transition: 0.6s;
    background: rgba(255, 0, 0, 0.18);
}

@media (max-width: 600px) {
    .productdisplay{
        display: block;
    }
}